body {
    background-image: url("joker.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    background-color: #000000;
}

h1 {
    color: #888F95;
    text-shadow: 0 0 10px #0000B0;
    margin-left: 20px;
}

table {
    width: 100%;
}
