.nav-bar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.nav-bar-subpage {
    float: right;
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-bar-homepage {
    float: left;
    display: block;
    text-align: center;
    padding: 8px 0px;
    text-decoration: none;
}

a.nav-bar-subpage, a.nav-bar-homepage {
    color: #00A697;
}

a.nav-bar-subpage.active, a.nav-bar-homepage.active {
    text-decoration: underline;
}
