body {
    background-color: #E1E7F3;
    color: #00A697;

    margin-left: 15%;
    margin-right: 15%;
}

.page-center {
    margin: auto;
    text-align: center;
}

table, th, td {
    border: 1px solid #00A697;
}
