{{define "title"}}System{{end}}
{{define "content"}}
        <table class="page-center" style="width:60%">
            <tr>
                <th style="width:60%">Feature</th>
                <th>Value</th>
            </tr>

            <tr>
                <td>CPU Temperature</td>
                <td><span id="cpuTemp">0.0</span><span> °C</span></td>
            </tr>

            <tr>
                <td>CPU Frequency</td>
                <td><span id="cpuFreq">0.0</span><span> Mhz</span></td>
            </tr>
        </table>
{{end}}


{{define "js"}}
        <script>
            var url = 'ws://' + window.location.host + '/ws';
            var c = new WebSocket(url);
            c.onmessage = function (msg) {
                var temp = document.getElementById("cpuTemp");
                var freq = document.getElementById("cpuFreq");

                var data = JSON.parse(msg.data);

                temp.innerHTML = data.cpuTemp;
                freq.innerHTML = data.cpuFreq;
            }
        </script>
{{end}}
